<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>relAnchorPoint</key>
			<array>
				<real>-0.4</real>
				<real>0.3</real>
			</array>
			<key>length</key>
			<integer>25</integer>
		</dict>
		<dict>
			<key>relAnchorPoint</key>
			<array>
				<integer>0</integer>
				<real>0.4</real>
			</array>
			<key>length</key>
			<integer>19</integer>
		</dict>
		<dict>
			<key>relAnchorPoint</key>
			<array>
				<real>0.4</real>
				<real>0.1</real>
			</array>
			<key>length</key>
			<integer>17</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>relAnchorPoint</key>
			<array>
				<real>-0.4</real>
				<real>0.3</real>
			</array>
			<key>length</key>
			<integer>25</integer>
		</dict>
		<dict>
			<key>relAnchorPoint</key>
			<array>
				<integer>0</integer>
				<real>0.4</real>
			</array>
			<key>length</key>
			<integer>19</integer>
		</dict>
		<dict>
			<key>relAnchorPoint</key>
			<array>
				<real>0.4</real>
				<real>0.1</real>
			</array>
			<key>length</key>
			<integer>17</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>relAnchorPoint</key>
			<array>
				<real>-0.5</real>
				<real>0.25</real>
			</array>
			<key>length</key>
			<integer>28</integer>
		</dict>
		<dict>
			<key>relAnchorPoint</key>
			<array>
				<real>0.2</real>
				<real>0.4</real>
			</array>
			<key>length</key>
			<integer>23</integer>
		</dict>
		<dict>
			<key>relAnchorPoint</key>
			<array>
				<real>0.4</real>
				<real>0.1</real>
			</array>
			<key>length</key>
			<integer>17</integer>
		</dict>
	</array>
</array>
</plist>
